
/* Styling für den Bereich des Formulars */
.review-box {
    padding: 30px;
    background-color: #ffe6f0;
    border-radius: 20px;
    margin-top: 40px;
}
.review-box h2 {
    margin-bottom: 5px; /* Abstand */
    font-weight: bold; /* macht Schrift fett*/

}
.review-box p {
    margin-bottom: 25px;
}
.form-control,
.form-select { /* Style für Eingabefelder und Auswahlfelder */
    border-radius: 10px; /* rundet Ecken */
    background-color: #fff7fa;
} 
textarea {
    resize: none; /* verhindert, dass das Textfeld mit der Maus vergrößert wird */
}
.save-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #6b123d;
    color: white;
    font-weight: 600;
}
.save-button:hover { /* Styl, wenn Maus über dem Speichern-Buttin ist */
    background-color: #85194d;
}
.form-label { /* Beschriftungen der Formularfelder */
    font-size: 18px;
    font-weight: 600;
}
