:root {
    --pink: #f7afd0;
    --lightpink: #ffd6e7;
    --dark: #651238;
    --hotpink: #e83e81;
    --white: #fff8fb;
    --text: #51122f;
    --lightpink2: #fde4ee;
}

body {
    margin: 0;
    background-color: var(--lightpink);
    color: var(--text);
    font-family: "Avenir Next", Avenir, Arial, sans-serif;


}

.sparkle {
    position: absolute;
    pointer-events: none;
    color: hsl(336, 87%, 52%);
    font-size: 14px;
    z-index: 9999;
    animation: sparklefade 0.5s forwards;
}

@keyframes sparkleFade {
    0% { opacity: 1;
    transform: scale(1);
}
100% {
    opacity: 0;
    transforms: scale(0.3) translateY(-15px);
}
}