:root {
    --pink: #f7afd0;
    --lightpink: #ffd6e7;
    --dark: #651238;
    --hotpink: #e83e81;
    --white: #fff8fb;
    --text: #51122f;
    --lightpink2: #fde4ee;
}

body {
    margin: 0;
    background-color: var(--lightpink);
    color: var(--text);
    font-family: "Avenir Next", Avenir, Arial, sans-serif;


}
