.container {
    min-height:calc(100vh - 100px);
    display: flex;  /* Flexbox für die Anordnung*/
    align-items:center; /* Inhalt vertikal*/
    justify-content: center;
    margin-left: 190px;
}

.row{
    width: 100%;
}

.col-12{
    background-color:#ffe6ef;
    padding: 55px 40px;
    border-radius: 20px;
}

.home-btn{
    display: inline-block;
    background-color: #6b123d;
    color: white;
    border: 1px solid #6b123d;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;  /* Entfernt Unterstreichung, wenn Link*/
    cursor: pointer;    
    font-weight: 600;

}

.home-btn:hover {   /* wenn Maus auf Button ist*/
    background-color: #85194d; 
    color: white;
}

@media screen and (max-width: 991px) {      /* Regel für kleinere Bildschirme*/
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}