.container {
    min-height:calc(100vh - 100px);
    display: flex;
    align-items:center;
}

.row{
    width: 100%;
}

.col-12{
    background-color:#ffe6ef;
    padding: 55px 40px;
    border-radius: 20px;
}

.home-btn{
    display: inline-block;
    background-color: #fff3f7;
    color: #5b1735;
    border: 1px solid #5b1735;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;

}

.home-btn:hover {
    background-color: #f8d9e5;
    color: #5b1735;
}


