<form [formGroup]="form">

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">

                <div class="login-box">

                    <h2 class="text-center mb-4">Registrieren</h2>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-Mail</label>

                        <input type="email"
                        id="email"
                        class="form-control"
                        formControlName="emailControl"
                        placeholder="E-Mail eingeben">
                    </div>

                    @if (form.controls.emailControl.touched && form.controls.emailControl.invalid) {
                        <p class="text-danger">Bitte gültige E-Mail eingeben</p>
                    }

                    <div class="mb-4">
                        <label for="password" class="form-label">Passwort</label>

                        <div class="password-field">

                        <input 
                        [type]="showPassword ? 'text' : 'password'"
                        id="password"
                        class="form-control"
                        formControlName="passwordControl"
                        placeholder="Passwort eingeben">

                        <button
                        type="button"
                        class="password-eye"
                        (click)="showPassword = !showPassword">
                        👁️
                    </button>
                        </div>
                    </div>

                    @if (form.controls.passwordControl.touched && form.controls.passwordControl.invalid) {
                        <p class="text-danger">Passwort muss mindestens 8 Zeichen haben</p>
                    }
                    <button 
                    type="button"
                    class="login-button"
                    (click)="register()">
                    Registrieren
                </button>

                @if (errorMessage) {
                    <p class="text-danger mt-2">{{ errorMessage }} </p>
                }

                </div> 

            </div>
        </div>
    </div>

</form>
