.login-box{
    background-color: #ffe6ef;
    padding: 45px;
    border-radius: 20px;

}

.login-box h2 {
    color: #5b1735;
    font-weight: bold;
}

.form-label {
    color: #5b1735;
    font-weight: bold;
}

.form-control{
    background-color: #fff3f7;
}

.login-button{
    width: 100%;
    background-color: #8f164d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
}

.login-button:hover {
    background-color: #76123f;
}