.login-box{
    padding: 25px;
    background-color: #ffe6f0;
    border-radius: 20px;
    margin-top: 20px;

}

.login-box h2 {
    font-size: 26px;
    font-weight: bold;
}

.form-label {
   font-size: 16px;
    font-weight: 600;
}

.form-control{
    border-radius: 10px;
    background-color: #fff7fa;
}

.login-button{
    width: 100%;
    background-color: #6b123d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
}

.login-button:hover {
    background-color: #85194d;
}

.password-field {
    position: relative;
}

.password-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}